<h2> Index of Posts </h3>

<%= form_tag(search_posts_path, :method => "get") do %>
  <%= label_tag(:search, "Search") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

<article>
  <% @posts.each do |post| %>
    <h3><%=sanitize post.title %></h3>
     <p><%=sanitize post.body %></p>
     <%= link_to "Show", post_path(post) %>
<% end %>
<%= link_to "Previous", '#' %>
<%= link_to "Next", posts_path({:offset => @next_page }) %>
</article>
